:root {
    --text-font: 'Ubuntu', sans-serif;
    --title-font: 'Abril Fatface', serif;
    --white-color-letter: #FFF;
    --black-color-letter: #000;
    --box-shadow-color: #000;
    --border-button-color: #000;
    --vip-color: #0f48bc;
    --background-detail-color: #A5D7E8;
    --detail-color: #0B2447;
    --background-color-button: #3A5166;
    /* --background-color-button: #FED666; */
    --background-hover-color-button: #dac058;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}
#web-container {
    width: 100%;
    height: 100vh;
}
/* *Global tags */
.navbar-brand,
.search-container,
#form,
.information-container,
.information-child h2,
#video,
.kit-container,
.benefits-container,
footer,
.left-footer,
.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Header and Nav */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-detail-color);
    box-shadow: 0 -5px 10px 1px var(--box-shadow-color);
    z-index: 3;
}
.container-fluid {
    column-gap: 20px;
}
.container-fluid a {
    font-size: 20px;
    color: var(--black-color-letter);
}
.container-fluid a:hover {
    text-decoration: underline 1px;
}
.navbar-brand {
    align-items: baseline;
    padding-left: 10px;
}
.navbar-brand img{
    height: 60px;
}
.logo-title {
    font-size: 20px;
    margin: 0;
}
.logo-title span{
    font-size: 40px;
}
.navbar-nav {
    column-gap: 10px;
}
#navbarSupportedContent {
    font-size: 20px;
}
.offcanvas-logo {
    margin-left: 100px;
}
#offcanvasDarkNavbar {
    background-color: var(--background-detail-color);
}

/* *Search Container */
.search-container {
    margin-top: 300px;
    flex-direction: column;
}
.search-title {
    margin-bottom: 30px;
    font-family: var(--title-font);
    text-align: center;
    font-size: 45px;
}
#form {
    flex-direction: column;
    row-gap: 10px;
}
#email {
    min-width: 200px;
    width: 400px;
    height: 50px;
    font-size: 1.4rem;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
#email::placeholder {
    font-size: 1.4rem;
}
#submit {
    background-color: var(--background-color-button);
    border: 1px solid var(--border-button-color);
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: var(--white-color-letter);
    transition: all .2s ease;
}
#submit:hover {
    background-color: var(--background-hover-color-button);
    color: var(--black-color-letter);
}

/* *Information container */
.information-container {
    padding: 10px 100px;
    column-gap: 30px;
    margin: 200px 0;
}
.information-child {
    width: 400px;
    height: 500px;
    border: 2px solid var(--detail-color);
    border-radius: 20px;
    padding: 30px 20px;
    background: linear-gradient(120deg, var(--background-detail-color), transparent 50%, var(--background-detail-color));
    color: var(--black-color-letter);
}
.information-child h2 {
    height: 110px;
    font-family: var(--title-font);
    font-size: 1.9rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid var(--detail-color);
}
.information-child p {
    width: 100%;
    margin: 40px 0 0;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}

/* *Video Section */
#video {
    width: 100%;
    margin: 200px 0;
}

/* *List kits */
.list-kits {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 200px 0;
    padding: 0 80px;
}
.kit-container {
    width: 60%;
    max-width: 400px;
    height: 600px;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid var(--detail-color);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background: linear-gradient(120deg, var(--background-detail-color), transparent 50%, var(--background-detail-color));
    padding: 10px;
}
.kit-vip {
    border: 3px solid var(--vip-color);
}
.kit-vip .title-kit{
    color: var(--vip-color);
    font-size: 35px;
    border-bottom: 1px solid var(--vip-color);
}
.kit-vip .benefits-container {
    border-bottom: 1px solid var(--vip-color);
}
.kit-vip .price-kit {
    color: var(--vip-color);
    text-shadow: 0 0 2px black;
}
.title-kit {
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--detail-color);
}
.price-kit {
    font-family: var(--title-font);
    font-size: 80px;
}
.benefits-container {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--detail-color);
    font-size: 18px;
}
.kit-container .button-kit {
    background-color: var(--background-color-button);
    border: 1px solid var(--border-button-color);
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: var(--white-color-letter);
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s ease;
}
.kit-container .button-kit:hover {
    background-color: var(--background-hover-color-button);
    color: var(--black-color-letter);
}

/* *Footer */
footer {
    width: 100%;
    height: 200px;
    background-color: #222;
    color: var(--white-color-letter);
    padding: 20px 0;
}
.left-footer {
    height: 100%;
    flex-direction: column;
    border-right: 2px solid var(--white-color-letter);
    padding-right: 60px;
}
.left-footer a {
    text-decoration: none;
    color: var(--white-color-letter);
    margin-bottom: 5px;
    font-size: 20px;
}
.left-footer a:hover {
    text-decoration: underline;
}
.right-footer {
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}
.copyright {
    margin-left: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .information-container {
        flex-direction: column;
        padding: 10px 30px;
        row-gap: 20px;
    }
    .information-child {
        width: 90%;
        height: 400px;
    }
    .information-child h2 {
        height: 120px;
    }
    #video iframe {
        width: 80%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    #email {
        width: 200px;
    }
    .information-container {
        flex-direction: column;
        padding: 10px 30px;
        row-gap: 20px;
    }
    .information-child {
        width: 90%;
        height: 400px;
    }
    .information-child p {
        -webkit-line-clamp: 5;
    }
    #video iframe {
        width: 90%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 60%;
        min-width: 300px;
    }
    footer {
        flex-direction: column;
    }
    .left-footer {
        padding: 0 0 20px 0;
        border-right: none;
        border-bottom: 1px solid var(--white-color-letter);
    }
    .right-footer {
        width: 100%;
        margin: 20px 40px 0 0;
    }
}