:root {
    --text-font: 'Ubuntu', sans-serif;
    --title-font: 'Abril Fatface', serif;
    --first-color: #FCF8EC;
    --second-color: #D0E8F2;
    --third-color: #79A3B1;
    --fourth-color: #456268;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}
body {
    width: 100%;
    background: url('./image/background-image.jpg') no-repeat center center/cover;
    font-family: var(--text-font);
}
/* *Global tags */
.navbar-brand,
.search-container,
#form,
.information-container,
#video,
.kit-container,
.benefits-container,
footer,
.left-footer,
.right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* *Header and Nav */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--second-color);
    border-bottom: 2px solid #000;
    z-index: 3;
}
.container-fluid {
    column-gap: 20px;
}
.container-fluid a {
    font-size: 20px;
    color: #000;
}
.container-fluid a:hover {
    text-decoration: underline 1px;
}
.navbar-brand {
    align-items: baseline;
    padding-left: 10px;
}
.navbar-brand img{
    height: 60px;
}
.logo-title {
    font-size: 20px;
    margin: 0;
}
.logo-title span{
    font-size: 40px;
}
.navbar-nav {
    column-gap: 10px;
}
#navbarSupportedContent {
    font-size: 20px;
}
.offcanvas-logo {
    margin-left: 100px;
}
#offcanvasDarkNavbar {
    background-color: var(--second-color);
}

/* *Search Container */
.search-container {
    margin-top: 300px;
    flex-direction: column;
    padding-bottom: 200px;
    border-bottom: 1px solid black;
}
.search-title {
    margin-bottom: 30px;
    font-family: var(--title-font);
    text-align: center;
}
#form {
    flex-direction: column;
    row-gap: 10px;
}
#email {
    min-width: 200px;
    width: 400px;
    height: 45px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* *Information container */
.information-container {
    padding: 10px 100px;
    flex-direction: column;
    row-gap: 20px;
    margin: 80px 0;
}
.information-child {
    border: 2px solid #79A3B1;
    border-radius: 20px;
    padding: 30px 20px;
    background-color: var(--second-color);
    color: #000;
}
.information-child h2 {
    font-family: var(--title-font);
    font-size: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--fourth-color);
}
.information-child p {
    text-align: justify;
    font-size: 20px;
}

/* *Video Section */
#video {
    width: 100%;
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}
#video iframe {
    box-shadow: 0 0 10px 5px black;
    transition: all 0.5s ease;
}
#video iframe:hover {
    box-shadow: 0 0 15px 10px var(--fourth-color);
}

/* *List kits */
.list-kits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin: 200px 0;
    padding: 0 80px;
}
.kit-container {
    height: 500px;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid var(--fourth-color);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: #D0E8F2DD;
    padding: 10px;
    transition: all .5s ease;
}
.kit-container:hover {
    background: linear-gradient(0deg, var(--fourth-color), var(--third-color));
}
.kit-vip {
    transform: scale(1.2, 1.2);
    z-index: 2;
}
.title-kit {
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.price-kit {
    font-family: var(--title-font);
    font-size: 80px;
}
.benefits-container {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
}

/* *Footer */
footer {
    width: 100%;
    height: 200px;
    background-color: #222;
    color: #FFF;
    justify-content: space-evenly;
    padding: 20px 0;
}
.left-footer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-right: 2px solid var(--first-color);
}
.left-footer a {
    text-decoration: none;
    color: #FFF;
    margin-bottom: 5px;
    font-size: 20px;
}
.left-footer a:hover {
    text-decoration: underline;
}
.right-footer {
    width: 40%;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
    text-align: end;
}
.copyright {
    margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .information-container {
        padding: 10px 30px;
    }
    #video iframe {
        width: 80%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 70%;
    }
    .kit-vip {
        transform: scale(1.1, 1.1);
    }
}

@media screen and (max-width: 767px) {
    #email {
        width: 200px;
    }
    .information-container {
        padding: 10px 10px;
    }
    #video iframe {
        width: 90%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 90%;
    }
    .kit-vip {
        transform: scale(1.1, 1.1);
    }
    footer {
        flex-direction: column;
    }
    .left-footer {
        border-right: none;
        border-bottom: 1px solid var(--first-color);
    }
}