:root {
    /* *Letters */
    --text-font: 'Ubuntu', sans-serif;
    --title-font: 'Russo One', sans-serif;
    /* *body */
    --background-color: #FFF;
    --white-color-text: #FFF;
    --black-color-text: #000;
    /* *Navbar */
    --text-color-nav: #000;
    /* *Cards */
    --box-shadow-color: #000;
    --background-detail-color: #A5D7E8;
    --border-color-kit: #0B2447;
    /* *Button */
    --background-color-button: #3A5166;
    --border-button-color: #000;
    --background-hover-color-button: #dac058;
    /* *Footer */
    --background-color-footer: #222;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
}
/* *Global tags */
header,
.navbar-brand,
.search-container,
#form,
.information-container,
.information-child,
.information-child h2,
.information-button,
#video,
.kit-container,
.benefits-container,
footer,
.left-footer,
.right-footer,
.more-buy-kit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.unactive {
    display: none;
}
#web-container {
    width: 100%;
    background-color: var(--background-color);
}
/* *Header and Nav */
header {
    margin-top: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
nav {
    background-color: var(--background-detail-color);
    box-shadow: 0 0 30px -13px var(--box-shadow-color);
    border-radius: 20px;
    width: 98%;
}
.container-fluid {
    column-gap: 20px;
}
.container-fluid a {
    font-size: 20px;
    color: var(--text-color-nav);
}
.container-fluid a:hover {
    text-decoration: underline 1px;
}
.navbar-brand {
    align-items: baseline;
    padding-left: 10px;
}
.navbar-brand img{
    height: 60px;
}
.logo-title {
    font-size: 20px;
    margin: 0;
    color: var(--text-color-nav);
}
.logo-title span{
    font-size: 40px;
}
.navbar-nav {
    column-gap: 10px;
}
#navbarSupportedContent {
    font-size: 20px;
}
.offcanvas-logo {
    margin-left: 100px;
}
#offcanvasDarkNavbar {
    background-color: var(--background-detail-color);
}
.container-fluid .dropdown-menu {
    background-color: var(--background-detail-color);
}
.container-fluid .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

/* *Search Container */
.search-container {
    margin-top: 300px;
    flex-direction: column;
}
.search-title {
    width: 70%;
    margin-bottom: 30px;
    font-family: var(--title-font);
    text-align: center;
    font-size: 45px;
    color: var(--black-color-text);
}
#form {
    flex-direction: column;
    row-gap: 10px;
}
#email {
    min-width: 200px;
    width: 400px;
    height: 50px;
    font-size: 1.4rem;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
#email::placeholder {
    font-size: 1.4rem;
}
#submit {
    background-color: var(--background-color-button);
    border: 1px solid var(--border-button-color);
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: var(--white-color-text);
    transition: all .2s ease;
}
#submit:hover {
    background-color: var(--background-hover-color-button);
    color: var(--black-color-text);
}

/* *Information container */
.information-container {
    padding: 10px 100px;
    column-gap: 30px;
    margin: 200px 0;
}
.information-child {
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 500px;
    border: 2px solid var(--border-color-kit);
    border-radius: 20px;
    padding: 30px 20px;
    background: linear-gradient(120deg, var(--background-detail-color), transparent 50%, var(--background-detail-color));
    color: var(--black-color-text);
}
.information-child h2 {
    width: 100%;
    height: 110px;
    font-family: var(--title-font);
    font-size: 1.9rem;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid var(--border-color-kit);
}
.information-child p {
    width: 100%;
    margin: 30px 0 0;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}
.information-button {
    position: relative;
    background-color: var(--background-color-button);
    border: 1px solid var(--border-button-color);
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: var(--white-color-text);
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s ease;
    overflow: hidden;
}
.information-button:hover {
    background-color: var(--background-hover-color-button);
    color: var(--black-color-text);
}
.information-button::after {
    position: absolute;
    content: ">";
    font-size: 1.6rem;
    right: 25px;
    transform: translateX(50px);
    transition: .5s ease;
    color: var(--white-color-text);
}
.information-button:hover::after {
    transform: translateX(0px);
    color: var(--black-color-text);
}

/* *Video Section */
#video {
    width: 100%;
    margin: 200px 0;
}

/* *List kits */
.list-kits {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin: 200px 0;
    padding: 0 80px;
}
.kit-container {
    width: 60%;
    max-width: 400px;
    height: 600px;
    justify-content: space-around;
    flex-direction: column;
    border: 2px solid var(--border-color-kit);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background: linear-gradient(120deg, var(--background-detail-color), transparent 50%, var(--background-detail-color));
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.more-buy-kit{
    position: absolute;
    top: 40px;
    right: -100px;
    width: 300px;
    height: 50px;
    background-color: var(--background-color-button);
    transform: rotateZ(50deg);
    color: var(--white-color-text);
    font-size: 1.3rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
}
.title-kit {
    width: 100%;
    text-align: center;
    font-family: var(--title-font);
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: var(--black-color-text);
}
.price-kit {
    font-family: var(--title-font);
    font-size: 80px;
    color: var(--black-color-text);
}
.benefits-container {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--border-color-kit);
    font-size: 18px;
    padding-bottom: 40px;
    color: var(--black-color-text);
}
.kit-container .button-kit {
    background-color: var(--background-color-button);
    border: 1px solid var(--border-button-color);
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bold;
    color: var(--white-color-text);
    text-decoration: none;
    border-radius: 10px;
    transition: all .2s ease;
}
.kit-container .button-kit:hover {
    background-color: var(--background-hover-color-button);
    color: var(--black-color-text);
}

/* *Footer */
footer {
    width: 100%;
    height: 200px;
    background-color:  var(--background-color-footer);
    color: var(--white-color-text);
    padding: 20px 0;
}
.left-footer {
    height: 100%;
    flex-direction: column;
    border-right: 2px solid var(--white-color-text);
    padding-right: 60px;
}
.left-footer a {
    text-decoration: none;
    color: var(--white-color-text);
    margin-bottom: 5px;
    font-size: 20px;
}
.left-footer a:hover {
    text-decoration: underline;
}
.right-footer {
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
}
.copyright {
    margin-left: 60px;
}

/* *Button mode dark */
.button-mode-dark {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.checkbox {
    width: 60px;
    height: 30px;
    background-color: #0a1929;
    border-radius: 30px;
    position: relative;
    color: white;
    overflow: hidden;
}
#checkbox_toggle {
    display: none;
}
.checkbox .toggle {
    width: 50px;
    height: 20px;
    position: absolute;
    border-radius: 30px;
    left: 5px;
    cursor: pointer;
    background: linear-gradient(40deg, #0f0d32, #364853 70%);
    transition: 0.4s;
    box-shadow: -0px -0px 10px #8983F7, -0px -0px 3px #8983F7;
}
.checkbox .slide {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.checkbox .slide .text-modedark {
    font-size: 14px;
    z-index: 100;
    cursor: pointer;
    user-select: none;
}
.check:checked + .checkbox .slide .toggle {
    background: linear-gradient(40deg, #ffe0ef,#fce5c8 70%);
    box-shadow: 0px 0px 3px rgb(255, 255, 20), 0px 0px 5px rgb(255, 255, 20);
}
.check:checked + .checkbox .slide {
    background-color: #d0d0d0;
    color: black;
}

@media screen and (min-width: 1024px) and (max-width: 1340px) {
    .kit-vip .title-kit{
        padding-top: 10px;
        width: 50%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .information-container {
        flex-direction: column;
        padding: 10px 30px;
        row-gap: 30px;
    }
    .information-child {
        width: 70%;
        height: 400px;
    }
    .information-child h2 {
        height: 120px;
    }
    .information-child p {
        -webkit-line-clamp: 3;
    }
    #video iframe {
        width: 80%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .search-title {
        font-size: 30px;
    }
    #email {
        width: 200px;
    }
    .information-container {
        flex-direction: column;
        padding: 10px 30px;
        row-gap: 30px;
    }
    .information-child {
        width: 90%;
        height: 420px;
    }
    .information-child h2 {
        font-size: 1.5rem;
    }
    .information-child p {
        -webkit-line-clamp: 4;
    }
    #video iframe {
        width: 90%;
    }
    .list-kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 0;
    }
    .kit-container {
        width: 60%;
        min-width: 300px;
    }
    .kit-vip .title-kit{
        padding-top: 10px;
        width: 50%;
    }
    footer {
        flex-direction: column;
    }
    .left-footer {
        padding: 0 0 20px 0;
        border-right: none;
        border-bottom: 1px solid var(--white-color-text);
    }
    .right-footer {
        justify-content: center;
        width: 100%;
        margin: 20px 40px 0 0;
    }
}